@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face 
{
    font-family: 'Open Sans', sans-serif;
}

div 
{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .header
{
    font-family: 'Open Sans', sans-serif;
}

a 
{
  color: #fc6721;
  text-decoration: none;
}

a:hover
{
  color: #fc6721;
  text-decoration: underline;
}

.btn:hover 
{
  font-weight: bold;
}

button:active 
{
  box-shadow: none !important;
}